<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        lang="pl"
        layout:decorate="_shared/_layout">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">Produkty</title>
</head>
<body>
<div layout:fragment="content" style="margin-left: auto; margin-right: auto">
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            window.location.href = '/client';
        });
    </script>
</div>
</body>
</html>