<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        lang="pl"
        layout:decorate="_shared/_layout">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">Dane użytkownika</title>
<!--    <script>-->
<!--        window.addEventListener("DOMContentLoaded", function () {-->
<!--            let pass_error = "Hasła muszą być identyczne!";-->
<!--            let feedback = document.getElementById("create-error-message");-->
<!--            document.getElementById("edit-pass").onsubmit = function () {-->
<!--                if (document.getElementById("id").innerText === document.getElementById("passwordConfirm").innerText) {-->
<!--                    return confirm("Czy na pewno chcesz zmienić hasło?");-->
<!--                } else {-->
<!--                    feedback.textContent = pass_error;-->
<!--                    return false;-->
<!--                }-->
<!--            };-->
<!--        });-->
<!--    </script>-->
</head>
<body>
<div layout:fragment="content">
    <!--            <p th:each="i : ${clientList}" th:text="${i}"></p>-->
    <h3 style="text-align: center">Zmiana hasła</h3>
    <table style="margin-left: auto; margin-right: auto">
        <tbody>
        <tr>
            <td>
                <form th:object="${account}" action="#" th:action="@{/client/changePasswordU}" method="post"
                      id="edit-pass">
                    <!--                    <input type="text" name="clientId" th:field="${clientId}" readonly hidden="hidden">-->
                    <input type="text" th:field="*{id}" readonly hidden="hidden">
                    <table style="margin-left: auto; margin-right: auto">
                        <tbody>
                        <tr>
                            <td><input type="text" th:field="*{firstName}" readonly hidden="hidden"></td>
                        </tr>
                        <tr>
                            <td><input type="text" th:field="*{lastName}" readonly hidden="hidden"></td>
                        </tr>
                        <tr>
                            <td><input type="email" th:field="*{email}" readonly hidden="hidden"></td>
                        </tr>
                        <tr>
                            <td><input type="text" th:field="*{phone}" readonly hidden="hidden"></td>
                        </tr>
                        <tr>
                            <td>Login:</td>
                            <td><input type="text" th:field="*{login}" readonly></td>
                        </tr>
                        <tr>
                            <td>Hasło:</td>
                            <td><input type="password" th:field="*{password}" required></td>
                        </tr>
                        <tr>
                            <td>Potwierdź hasło:</td>
                            <td><input type="password" name="passwordConfirm" id="passwordConfirm" required></td>
                        </tr>
                        </tbody>
                    </table>
                    <select name="clientId" hidden="hidden">
                        <option th:value="${clientId}" th:text="${clientId}" hidden="hidden">
                        </option>
                    </select>

                    <input type="submit" value="Zatwierdź" class="btn btn-secondary"/>
                    <!--                    <input type="reset" value="Reset"/>-->
                    <a class="btn btn-secondary" th:href="@{/client/editAccount}">Powrót</a>
                </form>

            </td>
        </tr>
        </tbody>
    </table>
    <p id="create-error-message" style="color: red; text-align: center" th:text="${errorPass}"></p>

</div>
</body>
</html>