<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        lang="pl"
        layout:decorate="_shared/_layout">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">Dane użytkownika</title>
</head>
<body>
<div layout:fragment="content" style="margin-left: auto; margin-right: auto">
    <!--            <p th:each="i : ${clientList}" th:text="${i}"></p>-->
    <h3 style="text-align: center">Dane użytkownika</h3>
    <table style="margin-left: auto; margin-right: auto">
        <tbody>
        <tr>
            <td>
                <form  action="#" th:action="@{/client/editAccount}" th:object="${account}" method="post"
                      id="edit-account">
                    <input type="number" th:field="*{id}" readonly hidden="hidden">
                    <table style="margin-left: auto; margin-right: auto">
                        <tbody>
                        <tr>
                            <td>Imię:</td>
                            <td><input type="text" th:field="*{firstName}" readonly></td>
                        </tr>
                        <tr>
                            <td>Nazwisko:</td>
                            <td><input type="text" th:field="*{lastName}" readonly></td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td><input type="text" th:field="*{email}" readonly></td>
                        </tr>
                        <tr>
                            <td>Numer telefonu:</td>
                            <td><input type="text" th:field="*{phone}" readonly></td>
                        </tr>
                        <tr>
                            <td>Login:</td>
                            <td><input type="text" th:field="*{login}" readonly></td>
                        </tr>
<!--                        <tr>-->
<!--                            <td>Hasło:</td>-->
<!--                            <td></td>-->
<!--                        </tr>-->
                        <input type="text" th:field="*{password}" readonly hidden="hidden">
                        </tbody>
                    </table>
                    <input type="submit" value="Edytuj dane osobowe" class="btn btn-secondary"
                           style="margin-left: auto; margin-right: auto"/>
                    <input type="reset" value="Reset" hidden="hidden"/>
                </form>
            </td>
            <td>
                &ensp;&ensp;&ensp;
            </td>
            <td>
                <form th:object="${address}" action="#" th:action="@{/client/editAddress}" method="post"
                      id="edit-address">
                    <input type="text" th:field="*{id}" readonly hidden="hidden">
                    <table style="margin-left: auto; margin-right: auto">
                        <tbody>
                        <tr>
                            <td>Ulica:</td>
                            <td><input type="text" th:field="*{street}" readonly></td>
                        </tr>
                        <tr>
                            <td>Numer budynku:</td>
                            <td><input type="text" th:field="*{buildingNumber}" readonly></td>
                        </tr>
                        <tr>
                            <td>Numer mieszkania:</td>
                            <td><input type="text" th:field="*{flatNumber}" readonly></td>
                        </tr>
                        <tr>
                            <td>Kod pocztowy:</td>
                            <td><input type="text" th:field="*{postalCode}" readonly></td>
                        </tr>
                        <tr>
                            <td>Miasto:</td>
                            <td><input type="text" th:field="*{city}" readonly></td>
                        </tr>
                        </tbody>
                    </table>
                    <input type="submit" value="Edytuj dane kontaktowe" class="btn btn-secondary"
                           style="margin-left: auto; margin-right: auto"/>
                    <input type="reset" value="Reset" hidden="hidden"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <h5 style="text-align: center; margin-top: 1rem" >liczba punktów = [[${client.getPoints()}]]</h5>


</div>
</body>
</html>